/*
   $Copyright$
   $FilePath$
   $Date$
   $Revision$
   Owner: Erwin Mendoza
   Description: css Alternative for table tag
*/
:root{
   --darkGreen:#195603;
   --lightGreen:#C6DEAC;
   --yellow:#ffff10;
   --pgBackground:#E7F7DE;
}

.newRow {width:100%;}
.col-12 {width:100%;}
.col-11 {width:91.67%;}
.col-10 {width:83.34%;}
.col-9 {width:75%;}
.col-8 {width:66.67%;}
.col-7 {width:58.35%;}
.col-6 {width:50%;}
.col-5 {width:41.65%;}
.col-4 {width:33.33%;}
.col-3 {width:25%;}
.col-2 {width:16.66%;}
.col-1 {width:8.33%;}
div[class*="col-"] {float:left;}
.fieldValue {
   /*background-color:var(--lightGreen);*/
   background-color:#fff;
   margin-right:5px;
   margin-top:3px;
   padding:2px;
   border:1px solid var(--darkGreen);
   color:var(--darkGreen);
   font-weight:600;
}
